HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
src/main/resources/application.properties
src/main/resources/real-application.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

spring.datasource.url=jdbc:mysql://ohou-db.c6yo4jnv5iey.ap-northeast-2.rds.amazonaws.com:3306/ohouDB
spring.datasource.username=admin
spring.datasource.password=hanghae99
spring.jpa.hibernate.ddl-auto=update
src/main/resources/application.yml
